body {
	margin: 10px auto;
	font-family: 'Lora', 'Roboto Condensed', 'arial narrow', georgia;
	font-size: 16pt;
  text-align: justify;
	width: 1280px;
}


ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 10px;
}

li {
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 0px;
  padding-right: 35px;
}

h2{
  font-size: 24pt;
}

h3 {
  padding-top: 8px;
  padding-bottom: 2px;
  margin: 1px;
  font-family: 'Roboto';
  font-size: 22pt;
}
hr {
  border-color: #000000;
}

.item{
	color: #004777; 
	font-weight: bold;
}

.title {
}

#top {
	padding: 0px;
}

#bottom {
	padding: 0px;	
}


a:link {color: #1d71b5; text-decoration: none; }
a:hover {color: #1d71b5; text-decoration: none; }
a:visited{color: #ad5d02; text-decoration: none; }
